$bg-primary: #37323e;
$bg-scnd: #84bc9c;
$bg-third: #6d6a75;
$bg-modal: #c4c4c4;

$details-first: #ef6351;
$details-scnd: #84bc9c;
$details-third: #bfbdc1;

$font-main: #bfbdc1;
$font-scnd: #37323e;
$font-thrd: #6d6a75;
$font-error: #f54b53;
